/* Admin window */
.body {
    -fx-background-color: rgba(18, 18, 18, 0.85);
    -fx-padding: 15;
}

/* ComboBox label */
#comboBoxLabel {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}