.body {
    -fx-background-color: rgba(18, 18, 18, 0.85);
    -fx-padding: 15;
}

.text-fields-container {
    -fx-spacing: 20;
}

.friendship-fields-label {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.friendship-fields-container {
    -fx-spacing: 3;
}