.welcome-label {
    -fx-font-size: 36px;
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-letter-spacing: 2.5px;
    -fx-text-fill: white;
}

.login-button {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-letter-spacing: 1px;
    -fx-pref-width: 280px;
    -fx-min-width: 280px;
    -fx-max-width: 280px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 10 14 10 14;
}

.credentials-fields {
    -fx-spacing: 12;
    -fx-pref-width: 280px;
    -fx-min-width: 280px;
    -fx-max-width: 280px;

    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 10 14 10 14;
    -fx-font-size: 14px;
}