.chatbutton {
    -fx-text-fill: #197d13;
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.chatbutton:hover {
    -fx-text-fill: #2bdb21;
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.header-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.nav-button {
    -fx-background-color: #2bdb21;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.nav-button:hover {
    -fx-background-color: #14630e;
}